<!DOCTYPE html>
<html ng-app='RedditClone'>
  <head>
    <meta charset="UTF-8">
    <title>Reddit Clone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.3/angular-moment.min.js"></script>
    <script type='text/javascript' src='index.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller='reddit'>
    <header>
      <div>
        <h2><i class="fa fa-reddit-alien"></i>Reddit Clone</h2>
        <button class='newPost' ng-click='showme=true'><i class='fa fa-plus'></i>Submit Post</button>
        <p><input type='text' placeholder='Search' ng-model='search'></p>
        <span>Sort by
          <select ng-model='sort' ng-init='sort=votes'>
            <option value='votes'>votes</option>
            <option value='date'>date</option>
            <option value='title'>title</option>
          </select>
        </span>
      </div>
    </header>
    <main>
      <div class='form' ng-show='showme'>
       <form class='new=post' name='postData' ng-submit='addPost()'>
         <label for='title'>Title</label>
         <input name='title' type='text' ng-model='title' ng-minlength='2' ng-maxlength='50' required>
         <br>
         <label for='author'>Author</label>
         <input name='author' type='text' ng-model='author' ng-minlength='2' ng-maxlength='50' required>
         <br>
         <label for='image'>Image URL</label>
         <input name='image' type='url' ng-model='image' ng-minlength='7' required>
         <br>
         <label for='description'>Description</label>
         <textarea name='description' ng-model='description' ng-minlength='5' ng-maxlength='255' required></textarea>
         <br>
         <button class='newSubmit' ng-click='showme=false'>Submit Post</button>
       </form>
      </div>
      <div class='mainContainer'>
         <table ng-repeat='post in posts | orderBy:sort | filter:search'>
          <tr>
             <td><img src='{{post.image}}' alt='{{post.title}}'></td>
                 <td>
                   <h3 class='postTitle'>{{post.title}}</h3>
                   <span class='votes'>
    								  <span ng-click='post.votes = post.votes + 1' class='fa fa-arrow-up'></span>
                      <span ng-click='post.votes = post.votes - 1' class='fa fa-arrow-down'></span>
                      <span ng-class="{'positive': post.votes > 0, 'negative': post.votes < 0, 'neutral': post.votes == 0}">{{post.votes}}</span>
    							</span>
                  <br>
                  <br>
                  <p>by {{post.author}}</p>
                  <br>
                  <p>{{post.description}}</p>
                  <br>
                <div>
                  <span class="fa fa-calendar"></span> {{post.date | amCalendar}} |
                  <span ng-model='comments' ng-click='showComm=true'>
                      <span class='fa fa-comments'></span>
                      <ng-pluralize count='post.comments.length' when="{'0': 'No comments | ', '1': '1 comment | ', 'other': '{{post.comments.length}} comments | '}"></ng-pluralize>
                  </span>
                  <span ng-model='newcomment' ng-click='showNewComm=true'>
                    <span class='fa fa-pencil'>Add Comment</span>
                  </span>
                </div>
                <br>
                <div ng-show='showNewComm'>
                  <form name='newComment'  ng-submit='post.comments.push(newComment); newComment = {}; comments = true; newcomment = false;' >
                    <label for='name'>Name: </label>
                    <input type='text' ng-model='newComment.author' ng-minlength='2' ng-maxlength='50' required>
                    <label for='comment'>Comment: </label>
                    <input type='text' ng-model='newComment.comment' ng-minlength='5' ng-maxlength='200' required>
                    <button>Add Comment</button>
                  </form>
                </div>
                <br>
                <div ng-show='showComm'>
                  <ul ng-repeat='comment in post.comments'>
                    <li>
                      <h4>{{comment.author}}</h4>
                          {{comment.comment}}
                    </li>
                    <br>
                  </ul>
                </div>
                <br>
               </td>
          </tr>
        </table>
      </div>
   </main>
  </body>
</html>
